#----------------------------------------
#运行thrift的server ip
#----------------------------------------

thrift.ip=
thrift.port=9550
thrift.selectorThreads=4
thrift.workerThreads=32

#----------------------------------------
#集群地址举例 128.0.0.1:2181,127.0.0.1:2182
#----------------------------------------
#是否启动zookeeper
zookeeper.enable=false
zookeeper.connectString=127.0.0.1:2181
zookeeper.sessionTimeout=3000
zookeeper.connectionTimeout=15000
zookeeper.basePath=/sxs-services

#----------------------------------------
#数据库连接配置
#----------------------------------------
jdbc.driverClassName=com.mysql.jdbc.Driver
jdbc.url=jdbc:mysql://127.0.0.1:3306/sxs_vault?characterEncoding=utf8&amp;allowMultiQueries=true&pinGlobalTxToPhysicalConnection=true
jdbc.username=root
jdbc.password=gaohuan0904
jdbc.pool.minPoolSize=10
jdbc.pool.maxPoolSize=100
jdbc.pool.borrowConnectionTimeout=30
jdbc.pool.testQuery=select 1
jdbc.pool.maintenanceInterval=60